BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
Cpp11BracedListStyle: true
Standard: Latest
