name: JNI Bind Build/Test Status

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  ubuntu-latest-cpp17-clang:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: test
      run: bazel test --cxxopt='-Werror' --cxxopt='-std=c++17' --repo_env=CC=clang --test_output=errors //implementation/legacy/...

  ubuntu-latest-cpp20-clang:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: test
      run: bazel test --cxxopt='-Werror' --cxxopt='-std=c++20' --repo_env=CC=clang --test_output=errors ...

  # Commented out because for some reason Github's action runner seems to be
  # forcing C++14 which I can't reproduce locally.
  #  ubuntu-latest-cpp20-gcc:
  #    runs-on: ubuntu-latest
  #    steps:
  #    - uses: actions/checkout@v4
  #    - name: test
  #      run: bazel test --cxxopt='-Werror' --cxxopt='-std=c++20' --repo_env=CC=gcc --test_output=errors ... -- -//implementation/legacy/...

  macos-latest-cpp17-clang:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: test
      run: bazel test --cxxopt='-Werror' --cxxopt='-std=c++17' --repo_env=CC=clang --test_output=errors //implementation/legacy/...

  macos-latest-cpp20-clang:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: test
      run: bazel test --cxxopt='-Werror' --cxxopt='-std=c++20' --repo_env=CC=clang --test_output=errors ...

  #  Temporarily pulling this as it's blocking other changes.
  #  windows-latest-cpp20-cmake-mvsc:
  #    runs-on: windows-2019
  #    steps:
  #    - name: checkout
  #      uses: actions/checkout@v4
  #    - name: cmake build
  #      run: |
  #        cmake --preset msvc-16-config-debug
  #        cmake --build --preset msvc-16-build-debug
